<h1> <%= @user.username %> </h1>
<h2>Total items: <%= @user.total_items %></h2>
<h3>Inventories</h3>
<%= link_to 'Create Inventory', new_category_path %> 
<ul>	
	<% @user.categories.each do |category| %>
		<li><%= link_to category.name, category_path(category) %> (<%= category.total_items %>)</li>
	<% end %>
</ul>