<h1> <%= @user.username %> </h1>
<h2>Total items: <%= @user.total_items %></h2>
<h3>Inventories</h3>
<%= link_to 'Create Inventory', new_category_path %> 
<ul>	
	<% @user.categories.each do |category| %>
		<li><%= link_to category.name, category_path(category) %> (<%= category.total_items %>) <%= link_to 'x', category, method: :delete, data: { confirm: 'delete?' } %></li>
	<% end %>
</ul>


<h3>Most Recent Comments</h3>
<ul>	
	<% @user.most_recent_comments.each do |comment| %>
		<li>
			<p class="small">Posted on <%= comment.username_and_inventory(current_user)%> -  <%= comment.created_at %> </p>
			<p>'<%= comment.content %>'</p>
		</li>
	<% end %>
</ul>