<%= form_for @item do |f| %>
  <% if @item.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@item.errors.count, "error") %> prohibited this item from being saved:
      </h2>

      <ul>
      <% @item.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <p>Select from pre-exist inventories</p>
  <%= f.collection_select :category_id, Category.all, :id, :name , selected: params[:category_id]%>
  <br></br>


  <div class="field">
    <%= f.label :name %>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :quantity %>
    <%= f.text_field :quantity %>
  </div>
  <div class="field">
    <%= f.label 'Necessary?' %>
    <%= f.check_box :necessary %>
  </div>
  
  <div class="actions"><br>
    <%= f.submit %>
  </div>
<% end %>