<h1><%= @item.name %></h1>

<h3><%= @item.necessary ? 'Necessary' : 'Unnecessary'%></h3>

<p>Quantity: <%= @item.quantity %></p>
<p>Description: <%= @item.description %></p>

<p><%= link_to 'Edit', edit_category_item_path(@item.category, @item) %> <%= link_to 'delete', @item, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<%= link_to 'Return to ' + @item.category.name, category_path(@item.category) %>

