<h1><%= @category.name %></h1>
<h3>Total items: <%= @category.total_items %></h3>

<p><%= link_to 'Edit', edit_category_path(@category) %> <%= link_to 'delete', @category, method: :delete, data: { confirm: 'Are you sure?' } %></p>
<p><%= link_to 'Add Item', new_category_item_path(@category) %></p>
<ul>
	<% @category.items.each do |item| %>
		<li id="item-<%= item.id %>"><%= link_to item.name, item_path(item) %> (<%= item.quantity %>)</li>
    <button class="js-more" id="item-btn-<%= item.id %>" data-id="<%= item.id %>">...</button>
	<% end %>
</ul>
<%= render partial: 'comment_form', locals: {comment: @comment, category: @category} %>

<ul>
	<% if @category.comments %>
		<% @category.comments.each do |comment| %>
			<li>
			<p><%= comment.created_at %> <%= comment.user.username %></p>
			<p>'<%= comment.content %>'</p>
			</li>
		<% end %>
	<% end %>
</ul>

